QWidget {
    font-family: "Segoe UI";
    font-size: 12px;
}

QWidget#frmCommand {
    background-color: #FFFFFF;
}

QWidget#lblIcon {
    margin-left: 5px;
}

QWidget#lblOpen {
    margin-left: 5px;
}

QWidget#lblInfo {
    margin-left: 10px;
}

QComboBox {
    margin-left: 15px;
    padding: 2px;
}

QPushButton {
    width: 80px;
    height: 18px;
}
